.woski-container {
    margin-top:100px!important;
    margin-bottom:100px !important;
    margin: 0 auto;
    width:80%;
 
}

.woski-strong {
    color:black;
    font-weight: bold;
}

.woski-button {
    background-color: #ff4407;
    border-radius: 5px;
    color:white;
    padding:10px 20px;
    margin-top:50px;
}

.woski-equipo {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
  
}

.woski-miembro {
   
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
   

}

.lk {
  
    width:12% !important;
    display: inline;
}



.woski-miembro img {
    width:100%;
    margin-bottom:30px;
   
    
}

.miembro-nombre {
    font-weight: bold;
    color:#ff4407;
}

footer {
    height:150px !important;
    background-color:#ff4407;

}

.center {
    margin: 0 auto;
    text-align: center;
}

.cta {
   
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top:50px;
}

.cta button {
    margin-top:20px;
}


@media only screen and (max-width: 600px) {
    /* Estilos CSS aquí */
    .woski-equipo {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     
      
    }
    .woski-miembro {
   
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: center;
        align-items: center;
        align-items: center;
        text-align: center;
    
    }
    .lk {
        margin-top:10px;
        width:12% !important;
        display: inline;
    }
    .woski-container {
        margin-top:100px!important;
        margin-bottom:100px !important;
        margin: 0 auto;
        width:90%;
     
    }

  }
  
